extends config-layout

block content
  div.header
    div.home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
      a(href="#").pure-menu-heading= title
  div.content-wrapper
    div.content.center-content
      form(action="/config" method="post").pure-form.pure-form-aligned.form-block
        fieldset
          div.pure-control-group.form-cg
            label(for="client-id").form-cg-label Client ID
            input(id="client-id" name="client-id" type="text").form-cg-input
          div.pure-control-group.form-cg
            label(for="client-secret").form-cg-label Client Secret
            input(id="client-secret" name="client-secret" type="text").form-cg-input
          div.pure-control-group.form-cg
            label(for="apic-host").form-cg-label API Connect Host
            input(id="apic-host" name="apic-host" type="text" value=host).form-cg-input
          div.pure-control-group.form-cg
            label(for="apic-org").form-cg-label API Connect Org
            input(id="apic-org" name="apic-org" type="text" value=org).form-cg-input
          div.pure-control-group.form-cg
            label(for="apic-catalog").form-cg-label API Connect Catalog
            input(id="apic-catalog" name="apic-catalog" type="text" value="sb").form-cg-input
          div.pure-controls.submit-button
            button(type="submit" value="Submit").pure-button.pure-button-primary Submit
    div.footer.l-box.is-center View the source of this layout to learn more. Made with love by the YUI Team.