doctype html
html(lang='en')
	include header
body
	#layout
		a(href="#menu" id="menuLink").menu-link
			span
		#main
			div.header
				h1= header
				h2= subHeader
			block content
	script(src='/js/ui.js')