extends layout

block content
  div.content
    form(method='post' action='/oauthtester/clientSetupFormSubmit').pure-form.pure-form-aligned
      fieldset
        div.pure-control-group
          label(for='oauth_token_url') Token URL
          input(name='oauth_token_url', type='text', value='https://api.think.ibm/sales/sb/oauth2/token').custom-input
        div.pure-control-group
          label(for='ro_id') Resource Owner ID
          input(name='ro_id', type='text', value='john').custom-input
        div.pure-control-group
          label(for='ro_pwd') Resource Owner Password
          input(name='ro_pwd', type='password', value='smith').custom-input
        div.pure-control-group
          label(for='client_id') Client ID
          input(name='client_id', type='text').custom-input
        div.pure-control-group
          label(for='client_secret') Client Secret
          input(name='client_secret', type='text').custom-input
        div.pure-control-group
          label(for='req_scope') Scope
          input(name='req_scope', type='text', value='inventory').custom-input
        div.pure-controls
          input(type='submit',value='Submit').pure-button.pure-button-primary

  style.
    .custom-input {
      width: 400px;
    }